*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

background-image: url(pexels-padrinan-19670.jpg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
height: 100vh;
overflow: hidden;

}


.container{

text-align: center;
margin-top: 200px;

}




.ads{

  
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.red{

    width: 200px;
    height: 30px;
    text-align: center;
}


